---
http_interactions:
- request:
    method: get
    uri: http://api.weatherstack.com/current?access_key=54c4c9d170a81a1ae61c5c7c915e56ca&query=37203&units=f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - 81ea4eb2-6786-4b06-a5df-baf69f224bc0
      X-Request-Time:
      - '0.140'
    body:
      encoding: ASCII-8BIT
      string: '{"request":{"type":"Zipcode","query":"37203","language":"en","unit":"f"},"location":{"name":"Nashville","country":"USA","region":"Tennessee","lat":"36.156","lon":"-86.789","timezone_id":"America\/Chicago","localtime":"2023-12-04
        02:34","localtime_epoch":1701657240,"utc_offset":"-6.0"},"current":{"observation_time":"08:34
        AM","temperature":43,"weather_code":122,"weather_icons":["https:\/\/cdn.worldweatheronline.com\/images\/wsymbols01_png_64\/wsymbol_0004_black_low_cloud.png"],"weather_descriptions":["Overcast"],"wind_speed":2,"wind_degree":10,"wind_dir":"N","pressure":1012,"precip":0,"humidity":82,"cloudcover":100,"feelslike":41,"uv_index":1,"visibility":10,"is_day":"no"}}'
  recorded_at: Mon, 04 Dec 2023 08:39:43 GMT
- request:
    method: get
    uri: https://geocode.search.hereapi.com/v1/geocode?apiKey=bQWmAQnmUYoGT15I4Lmomw7-Xk_UF3Oaoo0wKwLuGS0&limit=1&q=1234%20Apple%20Street,%20Waco%20TX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Correlation-Id:
      - 13bac73f-9606-40dd-8d11-6d1218cb45ad
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"title":"1234 Apple St, Dallas, TX 75204-6422, United States","id":"here:af:streetsection:dUQ8VzafqwRxWcht9q62nD:EAIaBDEyMzQ","resultType":"houseNumber","houseNumberType":"interpolated","address":{"label":"1234
        Apple St, Dallas, TX 75204-6422, United States","countryCode":"USA","countryName":"United
        States","stateCode":"TX","state":"Texas","county":"Dallas","city":"Dallas","district":"Baylor","street":"Apple
        St","postalCode":"75204-6422","houseNumber":"1234"},"position":{"lat":32.79568,"lng":-96.78027},"access":[{"lat":32.79559,"lng":-96.78039}],"mapView":{"west":-96.78134,"south":32.79478,"east":-96.7792,"north":32.79658},"scoring":{"queryScore":0.81,"fieldScore":{"state":1.0,"streets":[1.0],"houseNumber":1.0}}}]}'
  recorded_at: Mon, 04 Dec 2023 08:39:43 GMT
[...]
{"request":{"type":"City","query":"Dallas, USA United States of America","language":"en","unit":"f"},"location":{"name":"Dallas","country":"USA
        United States of America","region":"Texas","lat":"32.799","lon":"-96.789","timezone_id":"America\/Chicago","localtime":"2023-12-04
        02:39","localtime_epoch":1701657540,"utc_offset":"-6.0"},"current":{"observation_time":"08:39
        AM","temperature":50,"weather_code":113,"weather_icons":["https:\/\/cdn.worldweatheronline.com\/images\/wsymbols01_png_64\/wsymbol_0008_clear_sky_night.png"],"weather_descriptions":["Clear"],"wind_speed":7,"wind_degree":350,"wind_dir":"N","pressure":1018,"precip":0,"humidity":44,"cloudcover":0,"feelslike":46,"uv_index":1,"visibility":10,"is_day":"no"}}'
  recorded_at: Mon, 04 Dec 2023 08:39:44 GMT
recorded_with: VCR 6.2.0
